@font-face {
  /* Copying https://fonts.googleapis.com/css?family=Roboto+Slab%3A300&amp;ver=1.1.59 */
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('/carte-rlpi/robotoslab.ttf') format('truetype');
}

body{
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 300;
  font-size: 1.1em;
  background-color: #fafafa;
}

body h1, #intro, #questions, #legend, #groups, #explication{
  max-width: 48rem;
  margin: 0 auto;
}

#groups{
  max-width: 60rem;
}

h1, h2{
  text-align: center;
}

h1{
  padding: 1em;
}

h2{
  padding-top: 1em;
}

a{
  color: #111199;
}

.deep-link{
  color: black;
  text-decoration: none;
  transition: 0.5s ease color;
}

.deep-link:hover{
  color: #666;
}

strong{
  font-weight: bold;
}

#questions ol li{
  margin: 0.5em 0;
}

#legend{
  margin: 0 auto;
  padding: 0;
}

#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

svg{
  margin: 0 auto;
}

.lines, .light-line{
  fill: none;
  stroke: #7a7a7a;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  stroke-opacity: 1;
  stroke-dasharray: none;
}

.lines{
  stroke-width: 1;
}

.light-line{
  stroke-width: 0.2;
}

.light-line.arrondissement{
  stroke-width: 1;
}

#tooltip{
  position: fixed;
  display: none;
  bottom: 3em;
  right: 3em;
  background-color: #222222;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

#legend li{
  list-style: none;
  display: flex;
  margin: 0;
  align-items: baseline;
}

#legend .color{
  height: 2em;
  flex: 0 0 2em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score--1 .color, .score--1{
  color: white;
  background-color: #666;
}
#score-0 .color, .score-0{
  background-color: #888;
}
#score-1 .color, .score-1{
  background-color: #ff4400;
}
#score-2 .color, .score-2{
  background-color: #ffcc00;
}
#score-3 .color, .score-3{
  background-color: #ffff00;
}
#score-4 .color, .score-4{
  background-color: #00ff00;
}
#score-5 .color, .score-5{
  background-color: #179917;
}

.waiting{
  color: grey;
}

#top-municipalities{
  display: flex;
  flex-direction: column;
  max-width: 20em;
  align-items: stretch;
}

#top-municipalities h2{
  background-color: #eee;
  margin-bottom: 0.5em;
  text-align: center;
}

#topMunicipalitiesList{
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
  font-size: 1.1em;
}

/*Large screens*/
@media screen and (min-width: 1000px) {
  #top-municipalities{
    position: absolute;
    top: 5em;
    right: 5em;
  }
}

table{
  width: 100%;
  table-layout: fixed;
}

tbody{
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(90, 90, 90, 0.3);
}

th{
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #222;
  text-transform: uppercase;
}

th:not(:empty){
  background-color: rgba(90, 90, 90, 0.3);
}

th:last-child{
  width: 4em;
}

td{
  padding: 5px 2px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  color: #222;
  border-bottom: solid 1px rgba(90, 90, 90, 0.1);
}

td[class^=score]{
  text-align: center;
}

td:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

td img{
  max-width: 100%;
  margin: 0 auto;
  max-height: 3.4em;
}

.i-external{
  height: 1em;
}

footer{
  text-align: center;
  margin-top: 3em;
  padding: 1em;
}

footer a{
  margin: 0 1em;
}
